.expense-list li:nth-child(odd) {
	background-color: #f8f9fa;
}

.expense-list li .action-container {
	position: absolute;
	top: 50%;
	right: -150;
	transform: translateY(-50%);
}

.select-box {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
}
