<div class='container mt-5'>
	<div class='mb-3 row justify-content-center gx-0'>
		<label class='col-sm-2 col-form-label'>*必填欄位</label>
		<div class='col-sm-5'>
			<input
				type='text'
				readonly
				class='form-control-plaintext text-center'
				value='請輸入你的支出'
			/>
		</div>
	</div>
	<div class='mb-3 row justify-content-center gx-0'>
		<label for='name' class='col-sm-2 col-form-label'>名稱* :</label>
		<div class='col-sm-5'>
			<input type='text' class='form-control' id='name' />
		</div>
	</div>
	<div class='mb-3 row justify-content-center gx-0'>
		<label for='date' class='col-sm-2 col-form-label'>日期* :</label>
		<div class='col-sm-5'>
			<input type='date' class='form-control' id='date' />
		</div>
	</div>
	<div class='mb-3 row justify-content-center gx-0'>
		<label for='category' class='col-sm-2 col-form-label'>類別* :</label>
		<select class='col-sm-5 select-box' aria-label='Default select example' id='category'>
			<option selected>類別</option>
			<option value='家居物業'>家居物業</option>
			<option value='交通出行'>交通出行</option>
			<option value='休閒娛樂'>休閒娛樂</option>
			<option value='餐飲食品'>餐飲食品</option>
			<option value='其他'>其他</option>
		</select>
	</div>
	<div class='mb-3 row justify-content-center gx-0'>
		<label for='amount' class='col-sm-2 col-form-label'>金額* :</label>
		<div class='col-sm-5'>
			<input type='text' class='form-control' id='amount' />
		</div>
	</div>
	<div class='mb-3 row justify-content-center gx-0'>
		<label for='amount' class='col-sm-2 col-form-label'></label>
		<div class='col-sm-5'>
			<button class='btn btn-secondary w-100'>送出</button>
		</div>
	</div>
</div>