<div class='container-fluid'>
	<div class='row justify-content-center mt-5'>
		<div class='col-6 d-flex justify-content-center'>
			<div class='dropdown'>
				<a
					class='btn btn-secondary dropdown-toggle px-5'
					href='#'
					role='button'
					id='dropdownMenuLink'
					data-bs-toggle='dropdown'
					aria-expanded='false'
				>
					類別
				</a>

				<ul class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
					<li><a class='dropdown-item' href='#'>Action</a></li>
					<li><a class='dropdown-item' href='#'>Another action</a></li>
					<li><a class='dropdown-item' href='#'>Something else here</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class='row mt-3 text-center'>
		<span class='fs-2'>總金額： </span>
		<span class='fs-4'>$10000</span>
	</div>

	<div class='row justify-content-center mt-3'>
		<div class='col-6'>
			<ul class='list-group expense-list'>
				{{!-- {{#each expenses}} --}}
				<li class='list-group-item position-relative'>
					<div class='d-flex justify-content-between align-items-center'>
						<div class='d-flex align-items-center'>
							<div class='d-inline-block me-2'><i
									class='fas fa-house-damage fa-lg text-info'
								></i></div>
							<div class='d-inline-block d-flex flex-column'>
								<span class='fs-4'>xx</span>
								<span class='fs-6'>xx</span>
							</div>
						</div>
						<span class='fs-5'>xx</span>
					</div>
					<div class='action-container'>
						<form action='/expenses/{{this._id}}/edit' class='d-inline-block m-0'>
							<button class='btn btn-link' type='submit'>修改</button>
						</form>
						<form
							action='/expenses/{{this._id}}/?_method=DELETE'
							method='post'
							class='d-inline-block m-0'
						>
							<button class='btn btn-link' type='submit'>刪除</button>
						</form>
					</div>
				</li>

				{{!-- {{/each}} --}}
			</ul>
		</div>
	</div>

	<div class='mt-3 text-center'>
		<a href='/expenses/new'><button
				type='button'
				class='btn btn-secondary px-5'
			>新增支出</button></a>
	</div>

</div>